* {
  margin: 0;
  padding: 0;
}



body {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
}
.container {
  max-width: 1140px;
  width: 100%;
  padding: 0 16px;
  margin: 0 auto;
  overflow: hidden;
}
.d_flex {
  display: flex;
  align-items: center;
}
.header {
  justify-content: space-between;
  align-items: center;
  height: 90px;
 
  
}
.header_list {
  margin: 0 210px 0 300px;
  gap: 40px;
}
.header_link.first:hover {
  color: #0082f4;
  font-size: 20px;
  font-weight: 400;
  border-bottom: 3px solid #0082f4;
  padding-bottom: 48px;
}
.header_link {
  color: #000;
  font-size: 20px;
  font-weight: 400;
}
.header_link:hover {
  color: #0082f4;
  font-size: 20px;
  font-weight: 400;
  border-bottom: 3px solid #0082f4;
 padding-bottom : 48px;
}
.btn {
  background: #0082f4;
  border-radius: 6px;
  color: #fff;
  font-size: 20px;
  font-weight: 400;
  width: 161px;
  height: 52px;
  border: none;
}
.btn:hover {
  background-color: #fff;
  color: #0082f4;
  border: 1px solid #0082f4;
}
.line {
  display: block;
  width: 100vw;
  height: 2px;
  opacity: 0.1;
  background: #0283f5;
  height: 1px;
  margin-bottom: 100px;
}
.hero {
  justify-content: space-between;
  align-items: center;
  gap: 121px;
  margin-bottom: 161px;
}
.title {
  color: #0080fd;
  font-size: 25px;
  font-weight: 400;
  letter-spacing: 2.5px;
  text-transform: uppercase;
  margin-bottom: 5px;
}

.bigtitle {
  color: #000;
  font-size: 60.55px;
  font-weight: 700;
  line-height: 130%;
  margin-bottom: 20px;
}
#note {
  color: #0082f4;
  font-size: 60.55px;
  font-weight: 700;
  line-height: 130%;
}
.subtitle {
  color: #000;
  font-size: 16px;
  font-weight: 400;
  line-height: 150%;
  opacity: 0.6;
}
.summation {
  margin: 30px 0;
  gap: 30px;
}

.button {
  color: #fff;
  font-size: 20px;
  font-weight: 500;
  border-radius: 10px;
  background: #0082f4;
  padding: 20px 46px;
  border: none;
}
.button:hover {
  background-color: #fff;
  color: #0082f4;
  border: 1px solid #0082f4;
}
.watch {
  display: flex;
  border-radius: 10px;
  border: 1px solid #0082f46f;
  background-color: transparent;
  gap: 15px;
  align-items: center;
  padding: 17px 34px;
}
.btn_span {
  color: #000;
  font-size: 16px;
  font-weight: 500;
}
.spectrum {
  justify-content: space-between;
  align-items: center;
  gap: 185px;
  margin-bottom: 212px;
}
.title.spec_title {
  color: #0082f4;
  font-weight: 500;
  margin-bottom: 5px;
}
.bigtitle.head_title {
  font-size: 49px;
  margin-bottom: 20px;
}
.subtitle.spec_subtitle {
  font-size: 20px;
  margin-bottom: 30px;
}
.button.spec_btn {
  font-weight: 400;
  padding: 20px 39px;
}
.work_cards {
  justify-content: space-around;
  gap: 80px;
}
.heading {
  display: block;
  text-align: center;
  color: #000;
  font-size: 48.44px;
  font-weight: 500;
  line-height: 150%;
  margin-bottom: 60px;
}
.work_title {
  color: #000;
  font-size: 28px;
  font-weight: 500;
  line-height: 130%;
  margin: 60px 0 10px;
}
.work_subtitle {
  color: #000;
  text-align: center;
  font-size: 20px;
  font-weight: 400;
  line-height: 150%;
  margin-bottom: 134px;
}
.design_card {
  display: flex;
  flex-flow: column;
  align-items: center;
}
.code_card {
  display: flex;
  flex-flow: column;
  align-items: center;
}
.deliverd_card {
  display: flex;
  flex-flow: column;
  align-items: center;
}
.heading.active {
  display: flex;
  justify-content: flex-start;
  margin: 5px;
}
.cust_head {
  display: flex;
  justify-content: space-between;
  margin-bottom: 60px;
}
.customers_card {
  display: flex;
  gap: 67px;
}
.card_left {
  border-radius: 10px;
  border: 1px solid #0082f4;
  box-shadow: 0px 0px 7px 4px rgba(0, 0, 0, 0.06);
  width: 420px;
  height: 283px;
  margin-bottom: 176px;
}
.card_right {
  border-radius: 10px;
  border: 1px solid #0082f4;
  box-shadow: 0px 0px 7px 4px rgba(0, 0, 0, 0.06);
  width: 420px;
  height: 283px;
  margin-bottom: 176px;
}
.card_bar {
  width: 62px;
  height: 283px;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  background-color: #0082f4;
}
.user {
  border-radius: 50%;
  margin-left: 30px;
  margin-top: 109px;
  border: 2px solid #fff;
}
.user_subtitle {
  color: #000;
  font-size: 20px;
  font-weight: 400;
  line-height: 150%;
  opacity: 0.7;
  margin-left: 65px;
  margin-bottom: 45px;
}
.user_name {
  display: flex;
  align-items: center;
}
.name {
  color: #000;
  font-size: 20px;
  font-weight: 400;
  line-height: 120%;
  margin-bottom: 10px;
  margin-left: 12px;
}
.user_line {
  width: 30px;
  height: 2px;
  opacity: 0.7;
  background: #000;
  margin-bottom: 10px;
  margin-left: 65px;
}
.text {
  color: #000;
  font-size: 20px;
  font-weight: 400;
  line-height: 120%;
  opacity: 0.5;
  margin-left: 105px;
}

.could_title {
  color: #058aff;
  text-align: center;
  font-size: 31.25px;
  font-weight: 500;
  margin: 75px 0 0;
  margin-bottom: 15px;
}
.could_subtitle {
  color: #000;
  text-align: center;
  font-size: 20px;
  font-weight: 500;
  opacity: 0.7;
  margin-bottom: 30px;
}
.could {
  background-color: rgba(232, 236, 255, 0.3);
  width: 1600wh;
  height: 338px;
}
.email {
  display: flex;
  align-items: center;
  border-radius: 10px;
  border: 1px solid #058aff;
  width: 487px;
  height: 82px;
}
.input_img {
  margin: 28px 25px;
}
.holder {
  display: flex;
  justify-content: center;
  align-items: center;
}
input {
  background-color: transparent;
  border: none;
  height: 82px;
}
input:focus {
  outline: none;
}
input::placeholder {
  color: #000;
  font-size: 20px;
  font-weight: 400;
  opacity: 0.6;
}
.input_btn {
  margin-left: 100px;
  margin-right: 25px;
  border-radius: 10px;
  background: #0082f4;
  width: 102px;
  height: 52px;
  color: #fff;
  font-size: 20px;
  font-weight: 400;

  border: none;
}
.input_btn:hover {
  background-color: #fff;
  color: #0082f4;
  border: 1px solid #0082f4;
}
.footer {
  display: flex;
  justify-content: space-between;
}
.footer_left {
  display: flex;
  flex-flow: column;
  margin: 40px 0 auto;
  margin-right: 70px;
  gap: 15px;
}
.footer_right {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin: 30px;
  gap: 70px;
}
.footer_list {
  margin: px;
}
.footer_link {
  color: #000;
  font-size: 20px;
  font-weight: 400;
  line-height: 150%;
  opacity: 0.7;
}
.footer_link:hover {
  color: #379cf5;
}
.only {
  color: #000;
  font-size: 25px;
  font-weight: 500;
  line-height: 150%;
}
.finish {
  background: linear-gradient(
    180deg,
    #058aff 0%,
    rgba(57, 55, 206, 0.87) 97.91%
  );
  height: 120px;
}
.finish_inner {
  justify-content: space-between;
}
.finish_subtitle {
  color: #fff;
  font-size: 20px;
  font-weight: 500;
  line-height: 150%;
  margin: 45px 0;
}
.finish_btn {
  color: #3c61e1;
  font-size: 20px;
  font-weight: 400;
  border-radius: 10px;
  background: #fff;
  padding: 15px 31px;
  margin-left: 30px;
  border: none;
}
.finish_btn:hover {
  background-color: #0082f4;
  color: white;
  border: 1px solid #fff;
}
.footer_list {
  display: flex;
  flex-flow: column;
  gap: 15px;
}
